dash_bootstrap_components==1.5.0
dash_daq==0.5.0
matplotlib==3.8.2
pandas==2.2.1
plotly==5.20.0
requests==2.31.0
seaborn==0.11.2
tqdm==4.66.1
schedule==1.2.1
flask==3.0.2
flask_wtf==1.2.1
wtforms==3.1.2
werkzeug==3.0.1
dash==2.16.1