{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
      <h2>Wilkommen in Success<sup>AI</sup>Dash Analytics Service</h2>
    </div>
    <div class="container-fluid">
        <p>
            Mit diesem Service erkundet man die Learning Analytics des Projekts THISuccess<sup>AI</sup>. 
            Über dieses Tool kann man Dashboards aufrufen, um Informationen über die Nutzung von Learning Nuggets, 
            die von den Schülern in diesen Bereichen erzielten Noten und andere Aspekte zu erhalten.
            Darüber hinaus hat man die Möglichkeit, einen Blick in das Empfehlungssystem zu werfen, wie es funktioniert und aktualisiert wird.
        </p>
        <p>
            
            <h3>Schnelle Uberblick:</h3>
            <ul>
              <li>Anzahl von Learning Nuggets: {{all_lns}}</li>
              <li>Anzahl von genutzten Learning Nuggets: {{lns}}</li>
              <li>Anzahl von Produktiv Moodle Kursen: {{courses}}</li>
              <li>Anzahl von angemeldete Studierenden: {{users}}</li>
            </ul>
        </p>
    </div>
{% endblock content %}