{% extends "layout.html" %}
{% block content %}
<style>
    /* Set body margin to 0 to remove any default margins */
    main.container {
        margin: 0;
    }

    /* Set the iframe to fill the whole page */
    #dashboard-iframe {
        width: 99vw; /* Use 100vw for full viewport width */
        height: 100vh; /* Use 100vh for full viewport height */
        border: none;
    }
</style>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Dashboard Anleitung
</button>
  
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Dashboard Anleitung</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Alle mit einem Sternchen (*) gekennzeichneten Felder sind zum Zeichnen des Dashboards erforderlich. <br>
        Wählen Sie zunächst das akademische Jahr aus. Anschließend müssen Sie das Semester auswählen (<b>Hinweis</b>: Wenn beide oder keines der Semester ausgewählt sind, werden beide angezeigt). <br>
        Nachdem Sie den Kurse(n) ausgewählt haben, können Sie alle anderen Filteroptionen freischalten. <br>
        Um die Funktion „Legende ausblenden“ <b>nur</b> zum ersten Mal zu verwenden, klicken Sie einfach zweimal darauf. <br>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
<div>
<br>
<iframe id="dashboard-iframe" src="/dash/graphs/usage/" frameborder="0"></iframe>
</div>

{% endblock content %}
